---
// eslint-disable-next-line no-debugger
debugger
---

<!-- Store the message prop as a data attribute. -->
<astro-greet data-message={message}>
  <button>Say hi!</button>
</astro-greet>

<script asdf >
  debugger
</script>

<script asdf>
  debugger
</script>

<script>
  // eslint-disable-next-line no-debugger
  debugger
</script>

{
  /* eslint-disable-next-line no-console */
  console.log("suppressed in expression container")
}

<div
  id={
    // eslint-disable-next-line no-console
    console.log("suppressed in attribute")
  }
></div>
